<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TWS.QR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <applicationSettings>
        <TWS.QR.Properties.Settings>
            <setting name="QR_PROMOTION_URL" serializeAs="String">
                <value>http://MSI:52978/api/</value>
            </setting>
        </TWS.QR.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <diagnostics performanceCounters="Default" />
    <client>
      <endpoint address="http://localhost:3940/APIRESService.svc/"
        binding="webHttpBinding" contract="TWS.QR.PromotionClient.Interface.IQRVoucherService" name="MyEndpoint" behaviorConfiguration="webhttp" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>