<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		<section name="TWS.QR.VoucherWebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="TWS.Networking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
	  <TWS.QR.VoucherWebClient.Properties.Settings>
		  <setting name="QR_PROMOTION_URL" serializeAs="String">
			  <value>http://MSI:52978/api/</value>
		  </setting>
		  <setting name="QR_VALIDATE_RESOURCE" serializeAs="String">
			  <value>ValidateVoucher</value>
		  </setting>
		  <setting name="QR_REDEEM_RESOURCE" serializeAs="String">
			  <value>RedeemVoucher</value>
		  </setting>
	  </TWS.QR.VoucherWebClient.Properties.Settings>
	  <TWS.Networking.Properties.Settings>
	    <setting name="TCP_SERVER_PORT" serializeAs="String">
		    <value>7515</value>
        </setting>
    </TWS.Networking.Properties.Settings>
  </applicationSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
